@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjektModel

<div class="offset-sm-1">

    @{ViewData["Title"] = "Indsæt projekt";}

    <form asp-action="Submit" asp-controller="Home" method="post">

        <div class="form-group row">
            @Html.LabelFor(model => model.ProjektName, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektName, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektDescription, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektDescription, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektStatus, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.CheckBoxFor(model => model.ProjektStatus)
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektEvaluationStatus, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.CheckBoxFor(model => model.ProjektEvaluationStatus)
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektFundingDescription, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektFundingDescription, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektStartDate, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.ProjektStartDate, new { @type = "date" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektEndDate, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.ProjektEndDate, new { @type = "date" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektLink, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektLink, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektProgression, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektProgression, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">

            @Html.LabelFor(model => model.ProjektEvaluation, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektEvaluation, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <fieldset class="form-group row">
            <legend class="col-md-2">Uddannelsesområde</legend>
            <div class="col-md-7">
                @for (int i = 0; i < Model.KlassifikationModels.Count; i++)
                {
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.KlassifikationModels[i].IsChecked, htmlAttributes: new { @class = "form-check-input" })
                        @Html.DisplayFor(model => model.KlassifikationModels[i].KlassifikationName, new { htmlAttributes = new { @class = "form-check-label" } })
                        @Html.HiddenFor(model => model.KlassifikationModels[i].KlassifikationName, new { htmlAttributes = new { @class = "form-check-label" } })
                        @Html.HiddenFor(model => model.KlassifikationModels[i].KlassifikationId)
                    </div>

                }
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-md-2">Klassifikation</legend>
            <div class="col-md-7">
                @for (int i = 0; i < Model.UddOmrModels.Count; i++)
                {
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.UddOmrModels[i].IsChecked, htmlAttributes: new { @class = "form-check-input" })
                        @Html.DisplayFor(model => model.UddOmrModels[i].UddOmrName, new { htmlAttributes = new { @class = "form-check-label" } })
                        @Html.HiddenFor(model => model.UddOmrModels[i].UddOmrName)
                        @Html.HiddenFor(model => model.UddOmrModels[i].UddOmrId)
                    </div>

                }
            </div>
        </fieldset>

        <div class="form-group row">


            @Html.LabelFor(model => model.OmrModels[0].OmrName, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.OmrModels[0].OmrName, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">


            @Html.LabelFor(model => model.DeltagendeInstModels[0].DeltagendeInstName, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.DeltagendeInstModels[0].DeltagendeInstName, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <div class="form-group row">


            @Html.LabelFor(model => model.ProjektHolderModels[0].ProjektHolderName, htmlAttributes: new { @class = "col-form-label-lg col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ProjektHolderModels[0].ProjektHolderName, htmlAttributes: new { @class = "form-control" })
            </div>

        </div>
        <button type="submit" name="action">Tilføj</button>

    </form>
</div>